/*CSS Reset*/
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Lilita One', cursive;
	background-image: url(../images/window.jpg);
	background-size: cover;
	height: 100%;	
}

/*======NAV======*/
nav {
	color: black;
	font-size: 20px;
	text-align: center;
	background: rgba(255, 255, 255, 0.19);
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
	backdrop-filter: blur(6.6px);
	-webkit-backdrop-filter: blur(6.6px);
}
.navbar-brand {
	font-size: 30px;
	letter-spacing: 5px;
}
/*======NAV======*/

/*======CARD======*/
.container {
	margin-top: 3rem;
	background: rgba(255, 255, 255, 0.24);
	border-radius: 16px;
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
	backdrop-filter: blur(12.7px);
	-webkit-backdrop-filter: blur(12.7px);
	border: 1px solid rgba(255, 255, 255, 0.29);
}

.card {
	width: 25rem;
	margin-top: 2%;
	margin-bottom: 2%;
	margin-right: 3rem;
	margin-left: 3rem;
	background: none;
	color: black;
	font-family: 'Roboto Mono', monospace;
	text-align: center;
	border: none;
}
.card-title {
	color: white;
	background: rgba(0, 0, 0, 0.44);
	border-radius: 16px;
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
	backdrop-filter: blur(16.8px);
	-webkit-backdrop-filter: blur(16.8px);
	border: 1px solid rgba(0, 0, 0, 0.29);
}

/*IMAGES*/
.grow img{
transition: 1s ease;
}

.grow img:hover{
-webkit-transform: scale(1.2);
-ms-transform: scale(1.2);
transform: scale(1.2);
transition: 1s ease;
}
/*IMAGES*/

@media (max-width: 768px)
{
	.card {
		margin: 1rem;
	}
}